{% extends 'layouts/layout_admin.html' %}

{% block conteudo %}
<div class="container">

    <table>
        <tr>
            <th>Café</th>
            <th>Lanchonete</th>
        </tr>
        <tr>
            <td>Café Tradicional</td>
            <td>Pão de Queijo</td>
        </tr>
        <tr>
            <td>Cappuccino Classic</td>
            <td>Misto Quente</td>
        </tr>
        <tr>
            <td>Cappuccino Canela</td>
            <td>Pastelzinho de Belém</td>
        </tr>
        <tr>
            <td>Cappuccino Avelã</td>
            <td>Empada de carne</td>
        </tr>
        <tr>
            <td>Cappuccino Chocolate</td>
            <td>Crepioca</td>
        </tr>
        <tr>
            <td>Cappuccino Baunilha</td>
            <td>Bolo na Caneca Fit</td>
        </tr>
        <tr>
            <td>Pingado</td>
            <td>Tapioca</td>
        </tr>
        <tr>
            <td>Café Expresso</td>
            <td>Bolo de Banana</td>
        </tr>
        <tr>
            <td>Expresso Brasileiro</td>
            <td>Sanduíche Natural</td>
        </tr>
    </table>


</div>
{% endblock %}